

<!DOCTYPE html>
<html>
<body>


<blockquote class="reddit-card" data-card-created="1536530933"><a href="https://www.reddit.com/r/gifs/comments/9ecx3c/friendship_goals/">Friendship goals</a> from <a href="http://www.reddit.com/r/gifs">r/gifs</a></blockquote>
<script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>


</body>
</html>
